@namespace AntSK
@using OneOf
@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="lang">
        <!--todo: selectLang-->
    </div>
    <div class="content">
        <div class="top">
            <div class="header">
                <a>
                    <img alt="logo" class="logo" src="assets/tcclogo.png" />
                    <span class="title">天辰AI开发平台</span>
                </a>
            </div>
            <div class="desc"> </div>
        </div>
        @Body
    </div>
    <FooterView Copyright="@(DateTime.Now.Year.ToString() + " TCC")" Links="Links"></FooterView>
</div>

@code
{
    public LinkItem[] Links { get; set; } =
    {
        new LinkItem
        {
            Key = "中国天辰数智中心",
            Title = "中国天辰数智中心",
            Href = "./assets/gzh.jpg",
            BlankTarget = true,
        }
    };
}
